Repository serafuku/misskey, pull requests merged in 2024-09, with the labels that each got.

#6 2024.8.0+munochi.6
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/migration/1725344700039-NoteHistory.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/NoteHistoryService.ts
  packages/backend/src/core/NoteUpdateService.ts
  packages/backend/src/core/entities/NoteHistoryEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/NoteHistory.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/note-history.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/notes/history.ts
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHistorySub.vue
  packages/frontend/src/components/MkNoteHistorySubContent.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#7 Munochi dev
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/migration/1725517326637-NoteHistory-2.js
  packages/backend/src/core/NoteHistoryService.ts
  packages/backend/src/core/NoteUpdateService.ts
  packages/backend/src/core/entities/NoteHistoryEntityService.ts
  packages/backend/src/models/NoteHistory.ts
  packages/backend/src/models/json-schema/note-history.ts
  packages/backend/src/server/api/endpoints/notes/history.ts
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHistorySub.vue
  packages/frontend/src/components/MkNoteHistorySubContent.vue
  packages/frontend/src/scripts/get-note-history.ts
  packages/frontend/vite.config.local-dev.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#8 [노트 편집] Raw Diff
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHistorySub.vue
  packages/frontend/src/components/MkNoteHistorySubContent.vue
  packages/frontend/src/components/MkNoteHistorySubRaw.vue
Labels: packages/frontend

#10 [노트 편집] 리펙토링
  package.json
  packages/frontend/src/components/MkNoteHistorySub.vue
  packages/frontend/src/components/MkNoteHistorySubContent.vue
  packages/frontend/src/components/MkNoteHistorySubRaw.vue
  packages/frontend/src/scripts/get-note-history.ts
Labels: packages/frontend

#11 Implement Sign-in with Passkey
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninWithPasskeyApiService.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#12 2024.8.0-munochi.9
  Dockerfile_pg_bigm
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/NoteDeleteService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/ApiServerService.ts
  packages/backend/src/server/api/SigninWithPasskeyApiService.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/frontend/src/components/MkNoteHistorySub.vue
  packages/frontend/src/components/MkNoteHistorySubContent.vue
  packages/frontend/src/components/MkNoteHistorySubRaw.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/frontend/src/scripts/get-note-history.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#15 2024.8.0+munochi.10
  .vscode/settings.json
  package.json
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/themes/_dark.json5
  packages/frontend/src/themes/_light.json5
Labels: packages/backend, packages/frontend

#16 2024.8.0-serafuku.12
  package.json
  packages/backend/src/core/SearchService.ts
Labels: packages/backend
